# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
om/android
om/om.pro.user
om/om.pro.user.15
om/om.pro.user.3.0-pre1
omdebug
omdebugandriud
omdebugandroid
omreleaseandroid
